<?xml version="1.0" ?>
<robot name="Tetris_O" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Tetris_O_description)/urdf/materials.xacro" />

<material name="color">
  <color rgba="0.8 0.7 0.0 1.000"/>
</material>

<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.02" rpy="0 0 0"/>
    <mass value="0.26769664"/>
    <inertia ixx="0.000176" iyy="0.000176" izz="0.000281" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>

  <visual>
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Tetris_O_description/meshes/base_link.stl" scale="0.003 0.003 0.003"/>
    </geometry>
    <material name="color"/>
  </visual>

  <collision>
    <origin xyz=".00 .00 .02" rpy="0 0 0"/>
    <geometry>
      <box size="0.08 0.08 0.04"/> <!-- Adjust the size of the first box -->
      <origin xyz="0.0 0.0 0.02" rpy="0 0 0"/> <!-- Offset the first box by (0.05, 0.05, 0.05) -->
    </geometry>
  </collision>
</link>

</robot>
