<?xml version="1.0" ?>
<robot name="Tetris_L" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Tetris_L_description)/urdf/materials.xacro" />

<material name="color">
  <color rgba="0.9 0.5 0.0 1.000"/>
</material>

<link name="base_link">
  <inertial>
    <origin xyz="0.029942726752549054 0.04995560116346529 0.02" rpy="0 0 0"/>
    <mass value="0.26676172"/>
    <inertia ixx="0.000361" iyy="0.000148" izz="0.000439" ixy="8e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Tetris_L_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="color"/>
  </visual>

  <collision>
    <origin xyz=".02 .06 .02" rpy="0 0 0"/>
    <geometry>
      <box size="0.04 0.12 0.04"/> <!-- Adjust the size of the first box -->
      <origin xyz="0.0 0.06 0.02" rpy="0 0 0"/> <!-- Offset the first box by (0.05, 0.05, 0.05) -->
    </geometry>
  </collision>
  <collision>
    <origin xyz=".06 .02 .02" rpy="0 0 0"/>
    <geometry>
      <box size="0.04 0.04 0.04"/> <!-- Adjust the size of the first box -->
      <origin xyz="0.0 0.06 0.02" rpy="0 0 0"/> <!-- Offset the first box by (0.05, 0.05, 0.05) -->
    </geometry>
  </collision>
</link>

</robot>
